<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="fxServerConfig" type="Proline.ServerLauncher.Program.FXServerConfig, Proline.ServerLauncher.Program"/>
	</configSections>

	<fxServerConfig>
		<resources>
			<resource name="Project.Online.Client"/>
			<resource name="Project.Online.Server"/>
		</resources>
		<groups>
			<group name="admin" type="command" access="allow"/>
			<group name="moderator" type="command" access="allow"/>
		</groups>
		<principals>
			<principal identifier="steam:110000112345678" group="admin"/>
			<principal identifier="steam:110000101f1cbad" group="admin"/>
		</principals>
		<tags>
			<tag name="roleplay"/>
			<tag name="original"/>
			<tag name="freeroam"/>
			<tag name="gtaonline"/>
		</tags>
	</fxServerConfig>
	
	<appSettings>
		<add key="scriptHookAllowed" value="0"/>
		<add key="authMaxVariance" value="3"/>
		<add key="authMinTrust" value="3"/>
		<add key="steamAPIKey" value="91C664CE293083B6DBE314649D7EF9FD"/>
		<add key="licenceKey" value="3c7xjpzrm0gru8buqlxhho8mu9iybl2q"/>
		<add key="projectName" value="Project Online"/>
		<add key="projectDesc" value="A true shit show"/>
		<add key="serverIcon" value=""/>
		<add key="isVisable" value="false"/>
		<add key="serverName" value="Wayno's Shit show"/>
		<add key="maxClients" value="32"/>
		<add key="rconPassword" value="test"/>
		<add key="FXServerDir" value="H:\servers\Game_Servers\FiveM"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
