<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="moduleConfigSection" type="Proline.ModuleFramework.Core.Config.ModuleConfigSection,Proline.ModuleFramework.Core"/>
		<section name="testModuleConfigSection" type="Proline.ModuleFramework.TestModule.Config.TestModuleConfigSection,Proline.ModuleFramework.TestModule"/>
	</configSections>

	<moduleConfigSection>
		<moduleInstances>
			<add name="testModule" assembly="Proline.ModuleFramework.TestModule"/> 
		</moduleInstances>
	</moduleConfigSection>

	<testModuleConfigSection Test="sdadasd">
		<Test>dsada</Test>
	</testModuleConfigSection>
</configuration>