<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings> 
		<add key="Author" value="Wayno717"/>
		<add key="FXVersion" value="cerulean"/>
		<add key="ManifestVersion" value="05cfa83c-a124-4cfa-a768-c24a5811d8f9"/>
		<add key="Description" value="Project Online Freemode Game"/>
		<add key="Regex" value=".*Proline\.Client.*?\\"/>
		<add key="Script" value="Proline.ProlineEngine.Script.net.dll"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
