<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OnlineGameDB" connectionString="Server=tcp:wt-repo.database.windows.net,1433;Initial Catalog=OnlineGame;Persist Security Info=False;User ID=Wayno717;Password=trUFYBwC3HZQC6X;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
	<appSettings>
		<add key="Rest" value="res"/>
	</appSettings>
</configuration>